html {
   box-sizing: border-box;
   font-family: Roboto;
   color: #222;
   line-height: 1.4;
   font-size: 110%;
   background-color: white;
}

*, *::before, *::after {
   box-sizing: inherit;
}

body {
   margin: 0;
}

img {
   width: 100;
}

.logo {
   width: 160px;
   display: block;
   margin: 0 auto;
}

header {
   padding: 1.5rem 0;
}


